@using EntitesCL;
@model Institution

@{
    ViewBag.Title = "Institution";
}

<h2>Index</h2>

<hr />
Institution ID: @(Model.InstitutionID)
<hr />
Institution Name: @(Model.Name)
<hr />
Institution Address: @(Model.Address)
<hr />
Institution Telephone: @(Model.Telephone)